
@{
    ViewBag.Title = "Payment";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<a href="~/Payment/PaymentDone">
    <img src="~/Content/Images/eNets.jpg" class="imgPayment"/>
</a>
<a href="~/Payment/PaymentDone">
    <img src="~/Content/Images/Paynow.png" class="imgPayment"/>
</a>

