@{
    ViewBag.Title = "Contact";
}

<img src="~/Content/Images/Contact.png" />
<h3>@ViewBag.Message</h3>


<table>
    <tr>
        <td>
            <address>
                WeCare Pvt. Limited<br />
                Singapore 171732<br />
                <abbr title="Phone">P:</abbr>
                9898-9898
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </td>
    </tr>
</table>

<a href="~/Chat/LiveChat" target="_blank">Live Chat</a>
